[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
imutils = "*"
opencv-python = "*"
matplotlib = "*"
scipy = "*"
pyfirmata = "*"

[dev-packages]

[requires]
python_version = "3.8"
